<section>
    <grid txt="c">
        <div col="1/2" id="cards">
            <card txt="c" onclick="location.href='/admin/dns-list'">
                <h2 mb=8 class="bebas">LINK</h2>
                <p>
                    Create LINK
                </p>
            </card>
        </div>
    </grid>
</section>
